__pycache__/
*.pyc
*.egg-info/
dist/
.venv/

# type checker / linter
.mypy_cache/
.ruff_cache/

# test
.pytest_cache/
.coverage
coverage.xml
cov_html/

# docs
/docs/build/
/docs/source/_build/
/docs/source/_static/
/docs/source/_templates/
/docs/source/Makefile
/docs/source/make.bat
